[submodule "realms-rpi"]
	path = realms-rpi
	url = https://github.com/ringsce/realms-rpi.git
[submodule "ekron-realms"]
	path = ekron-realms
	url = https://github.com/ringsce/ekron-realms.git
[submodule "west"]
	path = west
	url = https://github.com/ringsce/west.git
[submodule "ringsce-editor"]
	path = ringsce-editor
	url = https://github.com/ringsce/ringsce-editor.git
[submodule "kaye-lang"]
	path = kayte-lang
	url = https://github.com/ringsce/kayte-lang.git

